<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login/Registration</title>
    </head>
    <body>
        {% if messages %}
        <div>
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h1>Welcome</h1>
        <h2>Register</h2>
        <form action="/register" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <p>*Password should be at least 8 characters</p>
            <div>
                <label for="password_confirm">Confirm Password:</label>
                <input type="password" name="password_confirm">
            </div>
            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday">
            </div>
            <input type="submit" value='Register'>
        </form>
        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <input type="submit" value='Login'>
        </form>
    </body>
</html>